In [ ]:
import os
import json
import pandas as pd
import mysql.connector
import plotly.express as px
import requests
import json

In [ ]:
#aggregated_transaction

path1 = "D:/GUVI/projects/phonepe/pulse/data/aggregated/transaction/country/india/state/"
aggre_trnsc_list = os.listdir(path1)

columns1 = {"States":[], "Years":[], "Quarter":[], "Transaction_Type":[],"Transaction_Count":[], "Transaction_Amount":[]}

for state in aggre_trnsc_list:
    selected_state = path1 + state + "/"
    aggre_year_list = os.listdir(selected_state)

    for year in aggre_year_list:
        selected_year = selected_state + year + "/"
        aggre_json_list = os.listdir(selected_year)

        for file in aggre_json_list:
            selected_file = selected_year + file
            data = open(selected_file, "r")

            output = json.load(data)
            
            for index in output["data"]["transactionData"]:
                name = index["name"]
                count = index["paymentInstruments"][0]["count"]
                amount = index["paymentInstruments"][0]["amount"]
                columns1["Transaction_Type"].append(name)
                columns1["Transaction_Count"].append(count)
                columns1["Transaction_Amount"].append(amount)
                columns1["States"].append(state)
                columns1["Years"].append(year)
                columns1["Quarter"].append(int(file.strip(".json")))
aggregated_transaction = pd.DataFrame(columns1)

aggregated_transaction["States"] = aggregated_transaction["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
aggregated_transaction["States"] = aggregated_transaction["States"].str.replace("-"," ")
aggregated_transaction["States"] = aggregated_transaction["States"].str.title()
aggregated_transaction["States"] = aggregated_transaction["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
#aggregated_user
path2 = "D:/GUVI/projects/phonepe/pulse/data/aggregated/user/country/india/state/"
aggre_user_list = os.listdir(path2)

columns2 = {"States":[], "Years":[], "Quarter":[], "Brands":[],"Transaction_Count":[], "Percentage":[]}

for state in aggre_user_list:
    selected_state = path2 + state + "/"
    aggre_year_list = os.listdir(selected_state)

    for year in aggre_year_list:
        selected_year = selected_state + year + "/"
        aggre_json_list = os.listdir(selected_year)

        for file in aggre_json_list:
            selected_file = selected_year + file
            data = open(selected_file, "r")

            output2 = json.load(data)
            
            try:
                for index in output2["data"]["usersByDevice"]:
                    brand = index["brand"]
                    count = index["count"]
                    percentage = index["percentage"]
                    columns2["Brands"].append(brand)
                    columns2["Transaction_Count"].append(count)
                    columns2["Percentage"].append(percentage)
                    columns2["States"].append(state)
                    columns2["Years"].append(year)
                    columns2["Quarter"].append(int(file.strip(".json")))
            except:
                pass
aggregated_user = pd.DataFrame(columns2)

aggregated_user["States"] = aggregated_user["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
aggregated_user["States"] = aggregated_user["States"].str.replace("-"," ")
aggregated_user["States"] = aggregated_user["States"].str.title()
aggregated_user["States"] = aggregated_user["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
#map_transaction

path3 = "D:/GUVI/projects/phonepe/pulse/data/map/transaction/hover/country/india/state/"
map_trnsc_list = os.listdir(path3)

columns3 = {"States":[], "Years":[], "Quarter":[], "Districts_Name":[],"Transaction_Count":[], "Transaction_Amount":[]}

for state in map_trnsc_list:
    selected_state = path3 + state + "/"
    map_year_list = os.listdir(selected_state)

    for year in map_year_list:
        selected_year = selected_state + year + "/"
        map_json_list = os.listdir(selected_year)

        for file in map_json_list:
            selected_file = selected_year + file
            data = open(selected_file, "r")

            output3 = json.load(data)

            for index in output3["data"]["hoverDataList"]:
                name = index["name"]
                count = index["metric"][0]["count"]
                amount = index["metric"][0]["amount"]
                columns3["Districts_Name"].append(name)
                columns3["Transaction_Count"].append(count)
                columns3["Transaction_Amount"].append(amount)
                columns3["States"].append(state)
                columns3["Years"].append(year)
                columns3["Quarter"].append(int(file.strip(".json")))
map_transaction = pd.DataFrame(columns3)

map_transaction["States"] = map_transaction["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_transaction["States"] = map_transaction["States"].str.replace("-"," ")
map_transaction["States"] = map_transaction["States"].str.title()
map_transaction["States"] = map_transaction["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
#map_user

path4 = "D:/GUVI/projects/phonepe/pulse/data/map/user/hover/country/india/state/"
map_user_list = os.listdir(path4)

columns4 = {"States":[], "Years":[], "Quarter":[], "Districts_Name":[],"Registered_Users":[], "App_Opens_Count":[]}

for state in map_user_list:
    selected_state = path4 + state + "/"
    map_year_list = os.listdir(selected_state)

    for year in map_year_list:
        selected_year = selected_state + year + "/"
        map_json_list = os.listdir(selected_year)

        for file in map_json_list:
            selected_file = selected_year + file
            data = open(selected_file, "r")

            output4 = json.load(data)

            for index in output4["data"]["hoverData"].items():
                district = index[0]
                registeredusers = index[1]["registeredUsers"]
                appOpens = index[1]["appOpens"]
                columns4["Districts_Name"].append(district)
                columns4["Registered_Users"].append(registeredusers)
                columns4["App_Opens_Count"].append(appOpens)
                columns4["States"].append(state)
                columns4["Years"].append(year)
                columns4["Quarter"].append(int(file.strip(".json")))
map_user = pd.DataFrame(columns4)

map_user["States"] = map_user["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_user["States"] = map_user["States"].str.replace("-"," ")
map_user["States"] = map_user["States"].str.title()
map_user["States"] = map_user["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
#top_transaction

path5 = "D:/GUVI/projects/phonepe/pulse/data/top/transaction/country/india/state/"
top_trnsc_list = os.listdir(path5)

columns5 = {"States":[], "Years":[], "Quarter":[], "PinCodes":[],"Transaction_Count":[], "Transaction_Amount":[]}

for state in top_trnsc_list:
    selected_state = path5 + state + "/"
    top_year_list = os.listdir(selected_state)

    for year in top_year_list:
        selected_year = selected_state + year + "/"
        top_json_list = os.listdir(selected_year)

        for file in top_json_list:
            selected_file = selected_year + file
            data = open(selected_file, "r")

            output5 = json.load(data)

            for index in output5["data"]["pincodes"]:
                entityname = index["entityName"]
                count = index["metric"]["count"]
                amount = index["metric"]["amount"]
                columns5["PinCodes"].append(entityname)
                columns5["Transaction_Count"].append(count)
                columns5["Transaction_Amount"].append(amount)
                columns5["States"].append(state)
                columns5["Years"].append(year)
                columns5["Quarter"].append(int(file.strip(".json")))
top_transaction = pd.DataFrame(columns5)

top_transaction["States"] = top_transaction["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_transaction["States"] = top_transaction["States"].str.replace("-"," ")
top_transaction["States"] = top_transaction["States"].str.title()
top_transaction["States"] = top_transaction["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
#top_user

path6 = "D:/GUVI/projects/phonepe/pulse/data/top/user/country/india/state/"
top_user_list = os.listdir(path6)

columns6 = {"States":[], "Years":[], "Quarter":[], "PinCodes":[],"Registered_Users":[]}

for state in top_user_list:
    selected_state = path6 + state + "/"
    top_year_list = os.listdir(selected_state)

    for year in top_year_list:
        selected_year = selected_state + year + "/"
        top_json_list = os.listdir(selected_year)

        for file in top_json_list:
            selected_file = selected_year + file
            data = open(selected_file, "r")

            output6 = json.load(data)

            for index in output6["data"]["pincodes"]:
                name = index["name"]
                registeredusers = index["registeredUsers"]
                columns6["PinCodes"].append(name)
                columns6["Registered_Users"].append(registeredusers)
                columns6["States"].append(state)
                columns6["Years"].append(year)
                columns6["Quarter"].append(int(file.strip(".json")))
top_user = pd.DataFrame(columns6)

top_user["States"] = top_user["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_user["States"] = top_user["States"].str.replace("-"," ")
top_user["States"] = top_user["States"].str.title()
top_user["States"] = top_user["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
#table_creation_mysql
sqlconnection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='12345678',
    database='phonepe_data'
)
cursor = sqlconnection.cursor(buffered=True)

#aggregated_transaction_table
createtable1 = '''create table if not exists aggregated_transaction(States varchar(300),
                                                            Years int,
                                                            Quarter int,
                                                            Transaction_Type varchar(300),
                                                            Transaction_Count bigint,
                                                            Transaction_Amount bigint)'''
cursor.execute(createtable1)
sqlconnection.commit()

insertdata1 = '''insert into aggregated_transaction(States, Years, Quarter, Transaction_Type, Transaction_Count,
                   Transaction_Amount)
                   values (%s,%s,%s,%s,%s,%s)'''

data = aggregated_transaction.values.tolist()
cursor.executemany(insertdata1,data)
sqlconnection.commit()

#aggregated_user_table
createtable2 = '''create table if not exists aggregated_user(States varchar(300),
                                                            Years int,
                                                            Quarter int,
                                                            Brands varchar(300),
                                                            Transaction_Count bigint,
                                                            Percentage float)'''
cursor.execute(createtable2)
sqlconnection.commit()

insertdata2 = '''insert into aggregated_user(States, Years, Quarter, Brands, Transaction_Count,
                   Percentage)
                   values (%s,%s,%s,%s,%s,%s)'''

data = aggregated_user.values.tolist()
cursor.executemany(insertdata2,data)
sqlconnection.commit()  

#map_transaction_table
createtable3 = '''create table if not exists map_transaction(States varchar(300),
                                                            Years int,
                                                            Quarter int,
                                                            Districts_Name varchar(300),
                                                            Transaction_Count bigint,
                                                            Transaction_Amount bigint)'''
cursor.execute(createtable3)
sqlconnection.commit()

insertdata3 = '''insert into map_transaction(States, Years, Quarter, Districts_Name, Transaction_Count,
                   Transaction_Amount)
                   values (%s,%s,%s,%s,%s,%s)'''

data = map_transaction.values.tolist()
cursor.executemany(insertdata3,data)
sqlconnection.commit()

#map_user_table
createtable4 = '''create table if not exists map_user(States varchar(300),
                                                            Years int,
                                                            Quarter int,
                                                            Districts_Name varchar(300),
                                                            Registered_Users bigint,
                                                            App_Opens_Count bigint)'''
cursor.execute(createtable4)
sqlconnection.commit()

insertdata4 = '''insert into map_user(States, Years, Quarter, Districts_Name, Registered_Users,
                   App_Opens_Count)
                   values (%s,%s,%s,%s,%s,%s)'''

data = map_user.values.tolist()
cursor.executemany(insertdata4,data)
sqlconnection.commit()

#top_transaction_table
createtable5 = '''create table if not exists top_transaction(States varchar(300),
                                                            Years int,
                                                            Quarter int,
                                                            PinCodes bigint,
                                                            Transaction_Count bigint,
                                                            Transaction_Amount bigint)'''
cursor.execute(createtable5)
sqlconnection.commit()

insertdata5 = '''insert into top_transaction(States, Years, Quarter, PinCodes, Transaction_Count,
                   Transaction_Amount)
                   values (%s,%s,%s,%s,%s,%s)'''

data = top_transaction.values.tolist()
cursor.executemany(insertdata5,data)
sqlconnection.commit()

#top_user_table
createtable6 = '''create table if not exists top_user(States varchar(300),
                                                            Years int,
                                                            Quarter int,
                                                            PinCodes bigint,
                                                            Registered_Users bigint)'''
cursor.execute(createtable6)
sqlconnection.commit()

insertdata6 = '''insert into top_user(States, Years, Quarter, PinCodes, Registered_Users)
                   values (%s,%s,%s,%s,%s)'''

data = top_user.values.tolist()
cursor.executemany(insertdata6,data)
sqlconnection.commit()

In [ ]:
#DataFrame_Creation
#aggregated_transaction_DF
cursor.execute("select * from aggregated_transaction")
sqlconnection.commit()
table1 = cursor.fetchall()

Aggregated_Transaction = pd.DataFrame(table1, columns = ("States", "Years", "Quarter", "Transaction_Type", "Transaction_Count", "Transaction_Amount"))

#aggregated_user_DF
cursor.execute("select * from aggregated_user")
sqlconnection.commit()
table2 = cursor.fetchall()

Aggregated_User = pd.DataFrame(table2, columns = ("States", "Years", "Quarter", "Brands", "Transaction_Count", "Percentage"))

#map_transaction_DF
cursor.execute("select * from map_transaction")
sqlconnection.commit()
table3 = cursor.fetchall()

Map_Transaction = pd.DataFrame(table3, columns = ("States", "Years", "Quarter", "Districts_Name", "Transaction_Count", "Transaction_Amount"))

#map_user_DF
cursor.execute("select * from map_user")
sqlconnection.commit()
table4 = cursor.fetchall()

Map_User = pd.DataFrame(table4, columns = ("States", "Years", "Quarter", "Districts_Name", "Registered_Users", "App_Opens_Count"))

#top_transaction_DF
cursor.execute("select * from top_transaction")
sqlconnection.commit()
table5 = cursor.fetchall()

Top_Transaction = pd.DataFrame(table5, columns = ("States", "Years", "Quarter", "PinCodes", "Transaction_Count", "Transaction_Amount"))

#top_user_DF
cursor.execute("select * from top_user")
sqlconnection.commit()
table6 = cursor.fetchall()

Top_User = pd.DataFrame(table6, columns = ("States", "Years", "Quarter", "PinCodes", "Registered_Users"))

In [ ]:
#questions_sql_queries
def top_chart_transaction_amount(table_name):
    sqlconnection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='12345678',
        database='phonepe_data'
    )
    cursor = sqlconnection.cursor(buffered=True)
    
    #plot1
    query1 = f'''SELECT states, SUM(transaction_amount) AS transaction_amount
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_amount DESC LIMIT 10;'''
    
    cursor.execute(query1)
    table1 = cursor.fetchall()
    sqlconnection.commit()
    
    df1 = pd.DataFrame(table1, columns = ("States", "Transaction_Amount"))
    fig_amount_1 = px.bar(df1, x = "States", y = "Transaction_Amount", title = "TRANSACTION AMOUNT",
                           color_discrete_sequence = px.colors.sequential.Agsunset, height = 650, width = 600, hover_name = "States")
    fig_amount_1.show()
    
    #plot2
    query2 = f'''SELECT states, SUM(transaction_amount) AS transaction_amount
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_amount LIMIT 10;'''
    
    cursor.execute(query2)
    table2 = cursor.fetchall()
    sqlconnection.commit()
    
    df2 = pd.DataFrame(table2, columns = ("States", "Transaction_Amount"))
    fig_amount_2 = px.bar(df2, x = "States", y = "Transaction_Amount", title = "TRANSACTION AMOUNT",
                           color_discrete_sequence = px.colors.sequential.Agsunset_r, height = 650, width = 600, hover_name = "States")
    fig_amount_2.show()
    
    #plot3
    query3 = f'''SELECT states, AVG(transaction_amount) AS transaction_amount
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_amount;'''
    
    cursor.execute(query3)
    table3 = cursor.fetchall()
    sqlconnection.commit()
    
    df3 = pd.DataFrame(table3, columns = ("States", "Transaction_Amount"))
    fig_amount_3 = px.bar(df3, y = "States", x = "Transaction_Amount", title = "TRANSACTION AMOUNT", orientation = "h",
                           color_discrete_sequence = px.colors.sequential.Blugrn_r, height = 650, width = 600, hover_name = "States")
    fig_amount_3.show()

In [ ]:
#questions_sql_queries
def top_chart_transaction_count(table_name):
    sqlconnection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='12345678',
        database='phonepe_data'
    )
    cursor = sqlconnection.cursor(buffered=True)
    
    #plot1
    query1 = f'''SELECT states, SUM(transaction_count) AS transaction_count
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_count DESC LIMIT 10;'''
    
    cursor.execute(query1)
    table1 = cursor.fetchall()
    sqlconnection.commit()
    
    df1 = pd.DataFrame(table1, columns = ("States", "Transaction_Count"))
    fig_amount_1 = px.bar(df1, x = "States", y = "Transaction_Count", title = "TRANSACTION COUNT",
                           color_discrete_sequence = px.colors.sequential.Agsunset, height = 650, width = 600, hover_name = "States")
    fig_amount_1.show()
    
    #plot2
    query2 = f'''SELECT states, SUM(transaction_count) AS transaction_count
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_count LIMIT 10;'''
    
    cursor.execute(query2)
    table2 = cursor.fetchall()
    sqlconnection.commit()
    
    df2 = pd.DataFrame(table2, columns = ("States", "Transaction_Count"))
    fig_amount_2 = px.bar(df2, x = "States", y = "Transaction_Count", title = "TRANSACTION COUNT",
                           color_discrete_sequence = px.colors.sequential.Agsunset_r, height = 650, width = 600, hover_name = "States")
    fig_amount_2.show()
    
    #plot3
    query3 = f'''SELECT states, AVG(transaction_count) AS transaction_count
                FROM {table_name}
                GROUP BY states
                ORDER BY transaction_count;'''
    
    cursor.execute(query3)
    table3 = cursor.fetchall()
    sqlconnection.commit()
    
    df3 = pd.DataFrame(table3, columns = ("States", "Transaction_Count"))
    fig_amount_3 = px.bar(df3, y = "States", x = "Transaction_Count", title = "TRANSACTION COUNT", orientation = "h",
                           color_discrete_sequence = px.colors.sequential.Blugrn_r, height = 800, width = 1000, hover_name = "States")
    fig_amount_3.show()

In [ ]:
#questions_sql_queries
def top_chart_registered_user(table_name, state):
    sqlconnection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='12345678',
        database='phonepe_data'
    )
    cursor = sqlconnection.cursor(buffered=True)
    
    #plot1
    query1 = f'''SELECT Districts_Name, SUM(Registered_Users) AS Registered_Users 
                FROM {table_name}
                WHERE states = '{state}'
                GROUP BY Districts_Name
                ORDER BY Registered_Users DESC LIMIT 10;'''
    
    cursor.execute(query1)
    table1 = cursor.fetchall()
    sqlconnection.commit()
    
    df1 = pd.DataFrame(table1, columns = ("Districts_Name", "Registered_Users"))
    fig_amount_1 = px.bar(df1, x = "Districts_Name", y = "Registered_Users", title = "TOP 10 of REGISTERED USERS",
                           color_discrete_sequence = px.colors.sequential.Agsunset, height = 650, width = 600, hover_name = "Districts_Name")
    fig_amount_1.show()
    
    #plot2
    query2 = f'''SELECT Districts_Name, SUM(Registered_Users) AS Registered_Users 
                FROM {table_name}
                WHERE states = '{state}'
                GROUP BY Districts_Name
                ORDER BY Registered_Users LIMIT 10;'''
    
    cursor.execute(query2)
    table2 = cursor.fetchall()
    sqlconnection.commit()
    
    df2 = pd.DataFrame(table2, columns = ("Districts_Name", "Registered_Users"))
    fig_amount_2 = px.bar(df2, x = "Districts_Name", y = "Registered_Users", title = "LAST 10 of REGISTERED USERS",
                           color_discrete_sequence = px.colors.sequential.Agsunset_r, height = 650, width = 600, hover_name = "Districts_Name")
    fig_amount_2.show()
    
    #plot3
    query3 = f'''SELECT Districts_Name, AVG(Registered_Users) AS Registered_Users 
                FROM {table_name}
                WHERE states = '{state}'
                GROUP BY Districts_Name
                ORDER BY Registered_Users;'''
    
    cursor.execute(query3)
    table3 = cursor.fetchall()
    sqlconnection.commit()
    
    df3 = pd.DataFrame(table3, columns = ("Districts_Name", "Registered_Users"))
    fig_amount_3 = px.bar(df3, y = "Districts_Name", x = "Registered_Users", title = "AVERAGE of REGISTERED USERS", orientation = "h",
                           color_discrete_sequence = px.colors.sequential.Blugrn_r, height = 800, width = 1000, hover_name = "Districts_Name")
    fig_amount_3.show()

In [ ]:
#questions_sql_queries
def top_chart_app_opens(table_name, state):
    sqlconnection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='12345678',
        database='phonepe_data'
    )
    cursor = sqlconnection.cursor(buffered=True)
    
    #plot1
    query1 = f'''SELECT Districts_Name, SUM(App_Opens_Count) AS App_Opens_Count 
                FROM {table_name}
                WHERE states = '{state}'
                GROUP BY Districts_Name
                ORDER BY App_Opens_Count DESC LIMIT 10;'''
    
    cursor.execute(query1)
    table1 = cursor.fetchall()
    sqlconnection.commit()
    
    df1 = pd.DataFrame(table1, columns = ("Districts_Name", "App_Opens_Count"))
    fig_amount_1 = px.bar(df1, x = "Districts_Name", y = "App_Opens_Count", title = "TOP 10 of APP OPENS COUNT",
                           color_discrete_sequence = px.colors.sequential.Agsunset, height = 650, width = 600, hover_name = "Districts_Name")
    fig_amount_1.show()
    
    #plot2
    query2 = f'''SELECT Districts_Name, SUM(App_Opens_Count) AS App_Opens_Count 
                FROM {table_name}
                WHERE states = '{state}'
                GROUP BY Districts_Name
                ORDER BY App_Opens_Count LIMIT 10;'''
    
    cursor.execute(query2)
    table2 = cursor.fetchall()
    sqlconnection.commit()
    
    df2 = pd.DataFrame(table2, columns = ("Districts_Name", "App_Opens_Count"))
    fig_amount_2 = px.bar(df2, x = "Districts_Name", y = "App_Opens_Count", title = "LAST 10 of APP OPENS COUNT",
                           color_discrete_sequence = px.colors.sequential.Agsunset_r, height = 650, width = 600, hover_name = "Districts_Name")
    fig_amount_2.show()
    
    #plot3
    query3 = f'''SELECT Districts_Name, AVG(App_Opens_Count) AS App_Opens_Count 
                FROM {table_name}
                WHERE states = '{state}'
                GROUP BY Districts_Name
                ORDER BY App_Opens_Count;'''
    
    cursor.execute(query3)
    table3 = cursor.fetchall()
    sqlconnection.commit()
    
    df3 = pd.DataFrame(table3, columns = ("Districts_Name", "App_Opens_Count"))
    fig_amount_3 = px.bar(df3, y = "Districts_Name", x = "App_Opens_Count", title = "AVERAGE of APP OPENS COUNT", orientation = "h",
                           color_discrete_sequence = px.colors.sequential.Blugrn_r, height = 800, width = 1000, hover_name = "Districts_Name")
    fig_amount_3.show()

In [ ]:
#questions_sql_queries
def top_chart_registered_users(table_name):
    sqlconnection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='12345678',
        database='phonepe_data'
    )
    cursor = sqlconnection.cursor(buffered=True)
    
    #plot1
    query1 = f'''SELECT States, SUM(Registered_Users) AS Registered_Users 
                FROM {table_name}
                GROUP BY States
                ORDER BY Registered_Users DESC LIMIT 10;'''
    
    cursor.execute(query1)
    table1 = cursor.fetchall()
    sqlconnection.commit()
    
    df1 = pd.DataFrame(table1, columns = ("States", "Registered_Users"))
    fig_amount_1 = px.bar(df1, x = "States", y = "Registered_Users", title = "TOP 10 of REGISTERED USERS",
                           color_discrete_sequence = px.colors.sequential.Agsunset, height = 650, width = 600, hover_name = "States")
    fig_amount_1.show()
    
    #plot2
    query2 = f'''SELECT States, SUM(Registered_Users) AS Registered_Users 
                FROM {table_name}
                GROUP BY States
                ORDER BY Registered_Users LIMIT 10;'''
    
    cursor.execute(query2)
    table2 = cursor.fetchall()
    sqlconnection.commit()
    
    df2 = pd.DataFrame(table2, columns = ("States", "Registered_Users"))
    fig_amount_2 = px.bar(df2, x = "States", y = "Registered_Users", title = "LAST 10 of REGISTERED USERS",
                           color_discrete_sequence = px.colors.sequential.Agsunset_r, height = 650, width = 600, hover_name = "States")
    fig_amount_2.show()
    
    #plot3
    query3 = f'''SELECT States, AVG(Registered_Users) AS Registered_Users 
                FROM {table_name}
                GROUP BY States
                ORDER BY Registered_Users;'''
    
    cursor.execute(query3)
    table3 = cursor.fetchall()
    sqlconnection.commit()
    
    df3 = pd.DataFrame(table3, columns = ("States", "Registered_Users"))
    fig_amount_3 = px.bar(df3, y = "States", x = "Registered_Users", title = "AVERAGE of REGISTERED USERS", orientation = "h",
                           color_discrete_sequence = px.colors.sequential.Blugrn_r, height = 800, width = 1000, hover_name = "States")
    fig_amount_3.show()

In [ ]:
#Transaction_year_based
def Transaction_amt_cnt_Y(df, year):
    transaction_year = df[df["Years"] == year]
    transaction_year.reset_index(drop = True, inplace = True)
    
    transaction_group = transaction_year.groupby("States")[["Transaction_Count", "Transaction_Amount"]].sum()
    transaction_group.reset_index(inplace = True)
    
    fig_amount = px.bar(transaction_group, x = "States", y = "Transaction_Amount", title = f"{year} TRANSACTION AMOUNT",
                       color_discrete_sequence = px.colors.sequential.Agsunset, height = 650, width = 600)
    fig_amount.show()
    
    fig_count = px.bar(transaction_group, x = "States", y = "Transaction_Count", title = f"{year} TRANSACTION COUNT",
                       color_discrete_sequence = px.colors.sequential.Bluered, height = 650, width = 600)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)
    States_name = []
    for feature in data1["features"]:
        States_name.append(feature["properties"]["ST_NM"])
    States_name.sort()
    
    fig_India_1 = px.choropleth(transaction_group, geojson = data1, locations = "States", featureidkey = "properties.ST_NM",
                               color = "Transaction_Amount", color_continuous_scale = "Rainbow",
                               range_color = (transaction_group["Transaction_Amount"].min(), transaction_group["Transaction_Amount"].max()),
                               hover_name = "States", title = f"{year} TRANSACTION AMOUNT", fitbounds = "locations",
                               height = 600, width = 600)
    
    fig_India_1.update_geos(visible = False)
    fig_India_1.show()

    fig_India_2 = px.choropleth(transaction_group, geojson = data1, locations = "States", featureidkey = "properties.ST_NM",
                               color = "Transaction_Count", color_continuous_scale = "Rainbow",
                               range_color = (transaction_group["Transaction_Count"].min(), transaction_group["Transaction_Count"].max()),
                               hover_name = "States", title = f"{year} TRANSACTION COUNT", fitbounds = "locations",
                               height = 600, width = 600)
    
    fig_India_2.update_geos(visible = False)
    fig_India_2.show()

    return transaction_year

In [ ]:
#transaction_quarter_based
def Transaction_amt_cnt_Q(df, quarter):
    transaction_year = df[df["Quarter"] == quarter]
    transaction_year.reset_index(drop = True, inplace = True)
    
    transaction_group = transaction_year.groupby("States")[["Transaction_Count", "Transaction_Amount"]].sum()
    transaction_group.reset_index(inplace = True)
    
    fig_amount = px.bar(transaction_group, x = "States", y = "Transaction_Amount", title = f"{transaction_year['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT",
                       color_discrete_sequence = px.colors.sequential.Agsunset, height = 650, width = 600)
    fig_amount.show()
    
    fig_count = px.bar(transaction_group, x = "States", y = "Transaction_Count", title = f"{transaction_year['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT",
                       color_discrete_sequence = px.colors.sequential.Bluered, height = 650, width = 600)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)
    States_name = []
    for feature in data1["features"]:
        States_name.append(feature["properties"]["ST_NM"])
    States_name.sort()
    
    fig_India_1 = px.choropleth(transaction_group, geojson = data1, locations = "States", featureidkey = "properties.ST_NM",
                               color = "Transaction_Amount", color_continuous_scale = "Rainbow",
                               range_color = (transaction_group["Transaction_Amount"].min(), transaction_group["Transaction_Amount"].max()),
                               hover_name = "States", title = f"{transaction_year['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT", fitbounds = "locations",
                               height = 600, width = 600)
    
    fig_India_1.update_geos(visible = False)
    fig_India_1.show()

    fig_India_2 = px.choropleth(transaction_group, geojson = data1, locations = "States", featureidkey = "properties.ST_NM",
                               color = "Transaction_Count", color_continuous_scale = "Rainbow",
                               range_color = (transaction_group["Transaction_Count"].min(), transaction_group["Transaction_Count"].max()),
                               hover_name = "States", title = f"{transaction_year['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT", fitbounds = "locations",
                               height = 600, width = 600)
    
    fig_India_2.update_geos(visible = False)
    fig_India_2.show()

    return transaction_year

In [ ]:
#transaction_type_based
def Aggre_TrnsType(df, state):
    transaction_year = df[df["States"] == state]
    transaction_year.reset_index(drop = True, inplace = True)
    transaction_group = transaction_year.groupby("Transaction_Type")[["Transaction_Count", "Transaction_Amount"]].sum()
    transaction_group.reset_index(inplace = True)
    
    fig_pie_1 = px.pie(data_frame = transaction_group, names = "Transaction_Type", values = "Transaction_Amount",
                      width = 600, title = f"{state.upper()} TRANSACTION AMOUNT", hole = 0.5)
    fig_pie_1.show()
    
    fig_pie_2 = px.pie(data_frame = transaction_group, names = "Transaction_Type", values = "Transaction_Count",
                      width = 600, title = f"{state.upper()} TRANSACTION COUNT", hole = 0.5)
    fig_pie_2.show()

In [ ]:
#Aggregated_user_analysis
def Aggre_user_plot1(df,year):
    Agguyear = df[df["Years"] == year]
    Agguyear.reset_index(drop = True, inplace = True)
    
    Agguyrgrp = pd.DataFrame(Agguyear.groupby("Brands")["Transaction_Count"].sum())
    Agguyrgrp.reset_index(inplace = True)
    
    fig_bar_1 = px.bar(Agguyrgrp, x = "Brands", y = "Transaction_Count", title = f"{year} BRANDS and TRANSACTIONS COUNT",
                      width = 1000, color_discrete_sequence = px.colors.sequential.haline_r, hover_name = "Brands")
    fig_bar_1.show()

    return Agguyear

In [ ]:
#Aggregated_User_Analysis_2
def Aggre_user_plot2(df, quarter):
    Agguqrtr = df[df["Quarter"] == quarter]
    Agguqrtr.reset_index(drop = True, inplace = True)
    
    Agguqrtrgrp = pd.DataFrame(Agguqrtr.groupby("Brands")["Transaction_Count"].sum())
    Agguqrtrgrp.reset_index(inplace = True)
    
    fig_bar_1 = px.bar(Agguqrtrgrp, x = "Brands", y = "Transaction_Count", title = f"{quarter} QUARTER BRANDS and TRANSACTIONS COUNT",
                          width = 1000, color_discrete_sequence = px.colors.sequential.Burg, hover_name = "Brands")
    fig_bar_1.show()

    return Agguqrtr

In [ ]:
#Aggregated_User_Analysis_3
def Aggre_user_plot_3(df, state):
    Aggustate = df[df["States"] == state]
    Aggustate.reset_index(drop = True, inplace = True)
    
    aguqyg= pd.DataFrame(Aggustate.groupby("Brands")["Transaction_Count"].sum())
    aguqyg.reset_index(inplace= True)    
    
    fig_line_1 = px.line(aguqyg, x = "Brands", y = "Transaction_Count",
                        title = f"{state.upper()} BRANDS, TRANSACTION COUNT and PERCENTAGE", width = 1000, markers = True)
    fig_line_1.show()

In [ ]:
#Map_transaction_district_based
def Map_Trns_District(df, state):
    transaction_year = df[df["States"] == state]
    transaction_year.reset_index(drop = True, inplace = True)
    
    transaction_group = transaction_year.groupby("Districts_Name")[["Transaction_Count", "Transaction_Amount"]].sum()
    transaction_group.reset_index(inplace = True)
    
    fig_bar_1 = px.bar(transaction_group, x = "Transaction_Amount", y = "Districts_Name", orientation = "h",
                      title = f"{state.upper()} DISTRICT and TRANSACTION AMOUNT", color_discrete_sequence = px.colors.sequential.Magenta_r)
    fig_bar_1.show()
    
    fig_bar_2 = px.bar(transaction_group, x = "Transaction_Count", y = "Districts_Name", orientation = "h",
                      title = f"{state.upper()} DISTRICT and TRANSACTION COUNT", color_discrete_sequence = px.colors.sequential.Magenta)
    fig_bar_2.show()

In [ ]:
#map_user_plot_1
def map_user_plot1(df, year):
    mapuyear = df[df["Years"] == year]
    mapuyear.reset_index(drop = True, inplace = True)
    
    mapuyrgrp = mapuyear.groupby("States")[["Registered_Users", "App_Opens_Count"]].sum()
    mapuyrgrp.reset_index(inplace = True)
    
    fig_line_1 = px.line(mapuyrgrp, x = "States", y = ["Registered_Users", "App_Opens_Count"],
                            title = f"{year} REGISTERED USERS and APP OPENS", height = 800, markers = True)
    fig_line_1.show()

    return mapuyear

In [ ]:
#map_user_plot_2
def map_user_plot2(df, quarter):
    mapuquarter = df[df["Quarter"] == quarter]
    mapuquarter.reset_index(drop = True, inplace = True)
    
    mapuqrtrgrp = mapuquarter.groupby("States")[["Registered_Users", "App_Opens_Count"]].sum()
    mapuqrtrgrp.reset_index(inplace = True)
    
    fig_line_1 = px.line(mapuqrtrgrp, x = "States", y = ["Registered_Users", "App_Opens_Count"],
                            title = f"{df['Years'].min()} YEAR {quarter} QUARTER REGISTERED USERS and APP OPENS", height = 800, markers = True,
                        color_discrete_sequence = px.colors.sequential.Mint_r)
    fig_line_1.show()

    return mapuquarter

In [ ]:
#map_user_plot_3
def map_user_plot3(df, state):
    Map_user_S = df[df["States"] == state]
    Map_user_S.reset_index(drop = True, inplace = True)
    
    fig_bar_1 = px.bar(Map_user_S, x = "Registered_Users", y = "Districts_Name", orientation = "h",
                       title = f"{state.upper()} REGISTERED USERS", height = 800, width = 600, color_discrete_sequence = px.colors.sequential.Magenta_r)
    fig_bar_1.show()

    fig_bar_2 = px.bar(Map_user_S, x = "App_Opens_Count", y = "Districts_Name", orientation = "h",
                       title = f"{state.upper()} APP OPENS", height = 650, width = 600, color_discrete_sequence = px.colors.sequential.Magenta)
    fig_bar_2.show()

In [ ]:
#top_transaction_plot_1
def top_trnsctn_plot_1(df, state):
    topts = df[df["States"] == state]
    topts.reset_index(drop = True, inplace = True)
    
    fig_bar_1 = px.bar(topts, x = "Quarter", y = "Transaction_Amount", hover_data = "PinCodes",
                       title = f"{state} TRANSACTION AMOUNT", height = 800, color_discrete_sequence = px.colors.sequential.GnBu_r)
    fig_bar_1.show()

    fig_bar_2 = px.bar(topts, x = "Quarter", y = "Transaction_Count", hover_data = "PinCodes",
                       title = f"{state} TRANSACTION AMOUNT", height = 800, color_discrete_sequence = px.colors.sequential.algae)
    fig_bar_2.show()

In [ ]:
#top_user_plot_1
def top_user_plot_1(df, year):
    Topuyear = df[df["Years"] == 2022]
    Topuyear.reset_index(drop = True, inplace = True)
    
    Topuyrgrp = pd.DataFrame(Topuyear.groupby(["States", "Quarter"])["Registered_Users"].sum())
    Topuyrgrp.reset_index(inplace = True)
    
    fig_top_bar_1 = px.bar(Topuyrgrp, x = "States", y = "Registered_Users", color = "Quarter", width = 1000, height = 800,
                          color_discrete_sequence = px.colors.sequential.PuBu_r, hover_name = "States",
                          title = f"{year} REGISTERED USERS")
    fig_top_bar_1.show()

    return Topuyear

In [ ]:
#top_user_plot_2
def top_user_plot_2(df, state):
    Topustate = df[df["States"] == state]
    Topustate.reset_index(drop = True, inplace = True)
    
    fig_top_bar2 = px.bar(Topustate, x = "Quarter", y = "Registered_Users", title = f"{state} REGISTERED USERS, PINCODES and QUARTER",
                         width = 1000, height = 800, color = "Registered_Users", hover_data = "PinCodes",
                         color_continuous_scale = px.colors.sequential.Magma_r)
    fig_top_bar2.show()

*Aggregated Transaction

In [ ]:
trsctn_Y = Transaction_amt_cnt_Y(Aggregated_Transaction, 2022)

In [ ]:
Aggre_TrnsType(trsctn_Y, "Kerala")

In [ ]:
trsctn_Q = Transaction_amt_cnt_Q(trsctn_Y, 2)

In [ ]:
Aggre_TrnsType(trsctn_Q, "Kerala")

*Aggregated User

In [ ]:
Aggre_user_Y = Aggre_user_plot1(Aggregated_User,2021)

In [ ]:
Aggre_user_Y_Q = Aggre_user_plot2(Aggre_user_Y, 2)

In [ ]:
Aggre_user_plot_3(Aggre_user_Y_Q, "Tamil Nadu")

*Map_Transaction

In [ ]:
Map_trnsctn_Y = Transaction_amt_cnt_Y(Map_Transaction, 2022)

In [ ]:
Map_Trns_District(Map_trnsctn_Y, "Tamil Nadu")

In [ ]:
Map_trsctn_Q = Transaction_amt_cnt_Q(Map_trnsctn_Y, 2)

In [ ]:
Map_Trns_District(Map_trsctn_Q, "Kerala")

In [ ]:
Map_Transaction

*Map_User

In [ ]:
Map_user_Y = map_user_plot1(Map_User, 2021)

In [ ]:
Map_user_Y_Q = map_user_plot2(Map_user_Y, 3)

In [ ]:
map_user_plot3(Map_user_Y_Q, "Tamil Nadu")

*Top_Transaction

In [ ]:
Top_trnsctn_Y = Transaction_amt_cnt_Y(Top_Transaction, 2022)

In [ ]:
top_trnsctn_plot_1(Top_trnsctn_Y, "Andaman & Nicobar")

In [ ]:
Top_trsctn_Q = Transaction_amt_cnt_Q(Top_trnsctn_Y, 2)

In [ ]:
Top_Transaction

*Top_User

In [ ]:
top_user_y = top_user_plot_1(Top_User, 2021)

In [ ]:
top_user_plot_2(top_user_y, "West Bengal")